form {
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 1.5rem;
}

div {
  margin-bottom: 1rem;

  label {
    font-size: 1rem;
    color: #555;
    display: block;
    margin-bottom: 0.5rem;
  }

  .p-inputtext {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    color: #333;

    &:focus {
      border-color: #007ad9;
      box-shadow: 0 0 0 2px rgba(0, 122, 217, 0.2);
    }
  }
}
